body 
{
    background-color: #87CEEB;
    margin: 0;
}

fieldset
{
    width: 425px;
}

legend
{
    font-size: 20px;
}

label.field
{
    text-align: left;
    width: 90px;
    float: left;
    font-weight: bold;
}

input.textbox-300
{
    width: 300px;
    float: left;
    background-color: #D5FBFF;
}

fieldset p
{
    clear: both;
    padding: 5px;
}

.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F3738;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px #2F3738;
}

.horizontal-list li
{
    float: left;
}

.horizontal-list li a {
    display: block;
    color: #D5FBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:impact,charcoal,arial, helvetica,sans-serif;
}

.horizontal-list a:hover:not(.active) {
    background-color: #647678;
}

.active {
    background-color: #9FBCBF;
}

.vertical-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #D5FBFF;
}

.vertical-list li a {
    display: block;
    color: #2F3738;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-family:impact,charcoal,arial, helvetica,sans-serif;
    box-shadow: inset 0 0 1px #2F3738;
}

/* Change the link color on hover */
.vertical-list li a:hover {
    background-color: #9FBCBF;
}

.submit
{
    display: block;
    padding: 0 10px;
    background-color: #2F3738;
    color: #D5FBFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    padding: 1px;
    width: 150px;
    box-shadow: 0 0 5px #2F3738;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}

h1
{
    color: #D5FBFF;
    text-align: center;
    font-family:impact,charcoal,arial, helvetica,sans-serif;
    font-size: 1000%;
    text-shadow: -10px 0 #2F3738, 0 10px #2F3738, 10px 0 #2F3738, 0 -10px #2F3738;
}

h3
{
    padding: 14px 16px;
    margin: 0;
    color: #D5FBFF;
    text-align: center;
    font-size: medium;
    font-family:impact,charcoal,arial, helvetica,sans-serif;
    text-shadow: -1px 0 #647678, 0 1px #647678, 1px 0 #647678, 0 -1px #647678;
}
